.hero-container {
  width: 100%;

  display: flex;
  flex-direction: column;
}

.hero-title {
  font-size: 1.5rem;
  font-weight: medium;
  line-height: 2rem;
  color: var(--accent-color);
}

.colored-text {
  background: linear-gradient(to right, #13b0f5, #770fe7);
  background-clip: text;
  color: transparent;
}

.hero-image {
  width: 14rem;
  height: 14rem;

  padding: 0.4rem;

  background: linear-gradient(to bottom, #e70faa, #00c0fd);
  border-radius: 9999px;
}

.hero-image img {
  width: 100%;
  height: 100%;

  border-radius: 9999px;
}

.footer {
  margin-top: 5rem;
}

@media (min-width: 1024px) {
  .hero-container {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  .hero-title {
    font-size: 2.5rem;
    line-height: 3rem;
  }
  .hero-image {
    width: 20rem;
    height: 20rem;
  }
}
