.header {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-container {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.logo-link img {
  width: 4rem;
}

.mobile-menu-button {
  width: 2rem;
  height: 2rem;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: transparent;
  border: none;
  border-radius: 9999px;
  stroke: var(--text-color);
}

input[type="checkbox"] {
  width: 2rem;
  height: 2rem;

  position: absolute;
  right: 1rem;
  top: 2rem;

  opacity: 0;
}

.toggle-menu:checked ~ .nav-container,
.toggle-menu:checked ~ .social-container {
  display: none;
}

.nav-container {
  width: 100%;

  display: flex;
  align-items: center;
}

.header-nav {
  width: 100%;
}

.nav-list {
  height: 100%;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 0.5rem;

  list-style-type: none;
}

.nav-item {
  width: 100%;
}

.nav-item a {
  display: block;
  text-align: center;

  font-size: 1rem;
  text-decoration: none;
  color: var(--text-color);
}

.social-container {
  margin-top: 1rem;
}

.social-list {
  height: 100%;

  display: flex;
  justify-content: space-evenly;
  align-items: center;

  list-style-type: none;
}

.social-link {
  width: 1.7rem;
  height: 1.7rem;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 9999px;
  background-color: var(--text-color);
}

.social-link svg {
  fill: var(--background-color);
}

@media (min-width: 1024px) {
  .header {
    flex-direction: row;
  }
  .logo-container {
    width: 30%;
  }
  .logo-link img {
    width: 5rem;
  }
  .mobile-menu-button {
    display: none;
  }
  .toggle-menu {
    display: none;
  }
  .nav-container {
    display: flex;
  }
  .nav-item {
    width: fit-content;
  }
  .social-container {
    display: block;
    width: 30%;

    margin-top: 0;
  }
}
